
$primaryloading: #AFADF8;
$bubble: #C6FC4C;
$loadingtext: #EB65EE;
$stroke: #3C8A7C;




$navbarpink: #FF7B93;
$navbarpinkshadow: #A37D86;
$pink: #FFA0B7;


$navbarpurple: #8683FF;
$navbarpurpleshadow: #61608E;
$purpledesktop: #AFADF8;





$yellow: #FFDE68;
$lightyellow: #FFF8E0;
$yellowshadow: #8E8460;


$green: #BEEB9C;
$lightgreen: #F2FFE8;
$greenshadow: #718E60;


$blue: #98E3F3;
$lightblue: #E2F6FB;
$blueshadow: #60808E;


$magenta: #E899EA;
$lightmagenta: #F2C3F3;
$magentashadow: #88608E;


$purple: #D5C7FF;
$medpurple: #E3DEF2;
$lightpurple: #F9F6FF;






$yellowtext: #FFD84E;

$greentext: #19C735;

$bluetext: #00A0D2;

$purpletext: #8334D2;





$pinkselected: #D4A0AD;
$pheartselected: #FE5D83;

$purpleselected: #9695D4;
$purpheartselected: #706CF6;

$mp3selected: #9075DC;









$font-1: 'lores-12', sans-serif;

$font-2: 'archivo-black', sans-serif;

$font-3: 'roboto', sans-serif;